{% load static %}
<!DOCTYPE html>
<html lang="pt-bt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <title>Tasks</title>
  </head>
  <body>
    <h1 class="mx-2">Adicionar Task</h1>

    <div class="d-flex mx-2">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Adicionar</button>
      </form>
    </div>

  </body>
</html>
