{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <title>Tasks</title>
  </head>
  <body>
    <h1 class="my-2 mx-2">Tasks</h1>

    {% for task in tasks %}
    <div class="card my-2 mx-2" style="width: 18rem;">
      <!-- <img class="card-img-top" src="{{ task.image }}" alt="Imagem de capa do card"> -->
      <div class="card-body">
        <h5 class="card-title">{{ task.title.upper }}</h5>
        <p class="card-text">{{ task.abstract }}</p>
        <p class="card-text">{{ task.project.name }}</p>
        <a class="mx-2 btn btn-link" href="{% url 'task_detail' task.id %}">ver mais</a>
        <a class="mx-2 btn btn-link" href="{% url 'task_update' task.id %}">Editar</a>
        <a class="mx-2 btn btn-link" href="{% url 'task_delete' task.id %}">Excluir</a>
      </div>
    </div>
    {% endfor %}

    <a class="mx-2 btn btn-link" href="{% url 'task_create' %}">Adicinar Task</a>
  </body>
</html>
