{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <title>Tasks</title>
  </head>
  <body>
    <h1>Tasks</h1>

    {% for task in tasks %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ task.image }}" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">{{ task.title.upper }}</h5>
        <p class="card-text">{{ task.description }}</p>
      </div>
    </div>
    {% endfor %}

      <a href="/add/tasks/">Adicinar Task</a>
  </body>
</html>
